public/stylesheets/main.css linguist-documentation=true
public/table.html linguist-documentation=true
public/elements.html linguist-documentation=true
public/home.html linguist-documentation=true
public/about.html linguist-documentation=true
public/dev-index.html linguist-documentation=true
public/index.html linguist-documentation=true
public/robots.html linguist-documentation=true