public/stylesheets/main.css linguist-vendored=false
public/table.html linguist-vendored=false
public/elements.html linguist-vendored=false
public/home.html linguist-vendored=false
public/about.html linguist-vendored=false
public/dev-index.html linguist-vendored=false
public/index.html linguist-vendored=false
public/robots.html linguist-vendored=false